/* General setup */

@font-face {
    font-family: "introheadr-base";
    src: url('introheadr-base-webfont.woff2') format('woff2'),
         url('introheadr-base-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	font-size: 15px;
}

h1, h2, h3 {
	font-family: "introheadr-base";
}


* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

header {
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 4px;
}

/* WRITE YOUR CODE BELOW HERE */

p:first-of-type {
	text-indent: 20px;
}

a {
	outline: none;
}

a:link {
	color: blue;
	text-decoration: underline;
}

a:visited {
	color: purple;
}

a:focus {
	text-decoration: none;
	border: 1px solid blue;
	color: blue;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: underline;
	border: none;
	color: navy;
}

a[href*="http"] {
	background: url(external-link-52.png) left no-repeat;
	background-size: 16px 16px;
	padding-left: 19px;
}

aside ul {
	list-style-type: square;
}

nav ul {
	list-style-type: none;
	padding: 0;
	width: 100%;
}



nav li {
	display: block;
	line-height: 2.5em;
}

nav a {
	display: inline-block;
	text-align: center;
	border: 2px dotted green;
	margin-bottom: 1%;
	width: 50%;	
}


nav a:link, nav a:visited, nav a:focus {
	text-decoration: none;
	background: yellow;
	color: black;
}

nav a:hover {
	background: orange;
}

nav a:active {
	background: red;
	color: white;
}

